*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-navbar{
    width: 100%;
    height: 7vh;
    background-color: #a9a9a926;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}

.top-icons{
    margin-left: 45px;
}
.top-icons i{
    font-size: 20px;
    color: #1c1c50;
    margin-left: 10px;
    cursor: pointer;
}
/* Gaya untuk tombol Buy Now */
/* Gaya untuk tombol Buy Now */
.card-body {
    text-align: center; /* Menengahkan konten di dalam card-body */
}

/* Gaya untuk tombol Buy Now */
.btn {
    display: inline-block; /* Mengubah kembali tombol menjadi elemen inline-block */
    padding: 8px 16px;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    background-color: #7abaff; /* Warna latar belakang */
    color: #00ffea; /* Warna teks */
    border: 2px solid #0077cc; /* Menambahkan border dengan warna tertentu */
    border-radius: 4px;
    transition: background-color 0.3s ease; /* Animasi perubahan warna latar belakang */
}

/* Hover effect pada tombol */
.btn:hover {
    background-color: #5aa2ee; /* Warna latar belakang saat dihover */
    color: #fff;
}





.other-links{
    margin-right: 33px;
}
.other-links i{
    color: #1c1c50;
    font-size: 20px;
    margin-left: 10px;
    cursor: pointer;
}
/* CSS untuk membuat input form ke bawah menggunakan Flexbox */
form {
    display: flex;
    flex-direction: column;
    
}

/* Gaya tambahan untuk input agar lebih menarik */
input {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Gaya tambahan untuk tombol agar lebih menarik */
input[type="button"], input[type="reset"] {
    padding: 10px;
    margin: 10px 0;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


@media screen and (max-width:500px){
    .top-icons{
        margin-left: 30px;
    }
    .top-icons i{
        font-size: 15px;
    }
    .other-links i{
        font-size: 15px;
    }
    #btn-login{
        width: 60px;
        height: 5vh;
    }
    #btn-signup{
        width: 70px;
        height: 5vh;
    }
}
@media screen and (max-width:350px){
    .top-icons{
        margin-left: 10px;
    }
    .top-icons i{
        font-size: 10px;
    }
    .other-links{
        margin-right: 10px;
    }
    .other-links i{
        font-size: 10px;
    }
    #btn-login{
        width: 50px;
        height: 5vh;
        font-size: 13px;
    }
    #btn-signup{
        width: 60px;
        height: 5vh;
        font-size: 13px;
    }
}
@media screen and (max-width:350px){
    .top-icons{
        margin-left: 5px;
    }
    .top-icons i{
        font-size: 12px;
    }
    .other-links{
        margin-right: 10px;
    }
    .other-links i{
        font-size: 12px;
    }
    #btn-login{
        width: 40px;
        height: 5vh;
        font-size: 10px;
    }
    #btn-signup{
        width: 50px;
        height: 5vh;
        font-size: 10px;
    }
}
/* home section */
.home-section{
    width: 100%;
    height: 93vh;
    background-color: #a9a9a926;
}
/* navbar */
#navbar{
    background-color: #1c1c50;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
}
#navbar .nav-link{
    color: white;
    font-weight: bold;
    margin-left: 5px;
    transition: 0.5s ease;
}
#navbar .nav-link:hover{
    color: white;
    border-radius: 5px;
}
.dropdown li a{
    color: white;
}
#search-btn{
    color: white;
    border:  1px solid white;
}
#search-btn:hover{
    background-color: #1c1c50;
}
/* navbar */
/* home content */
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 0;
    font-family: 'Roboto Slab', serif;
}
.home .img{
    flex: 1 1 400px;
}
.home .img img{
    width: 100%;
}
.home .content{
    flex: 1 1 400px;
    margin-top: 30px;
}
.content h3{
    margin-left: 70px;
    font-size: 50px;
    text-shadow: 1px 1px 1px black;
    color: #1c1c50;
    font-weight: bold;
}
.content h3 span{
    font-size: 40px;
}
.content p{
    margin-left: 70px;
    color: #1c1c50;
}
.content #shopnow{
    margin-left: 70px;
    width: 200px;
    height: 38px;
    border: 2px solid #1c1c50;
    font-weight: bold;
    transition: 0.5s ease;
    cursor: pointer;
}
.content #shopnow:hover{
    background-color: #1c1c50;
    color: white;
}
@media screen and (max-width:800px){
    .content h3{
        margin-left: 50px;
        font-size: 40px;
    }
    .content p{
        margin-left: 50px;
    }
    .content #shopnow{
        margin-left: 50px;
    }
}
@media screen and (max-width:570px){
    .content h3{
        margin-left: 20px;
    }
    .content p{
        margin-left: 20px;
    }
    .content #shopnow{
        margin-left: 20px;
    }
}
@media screen and (max-width:799px){
    .home-section{
        height: 150vh;
    }
}
@media screen and (max-width:550px){
    .home-section{
        height: 100vh;
    }
}
/* home content */
/* home section */

/* top cards */
#top-cards{
    margin-top: 30px;
    font-family: 'Roboto Slab', serif;
}
#top-cards .card img{
    height: 60vh;
}
#top-cards h5{
    color: #1c1c50;
    font-weight: bold;
}
#top-cards button{
    width: 150px;
    height: 33px;
    font-weight: bold;
    letter-spacing: 3px;
    background: transparent;
    color: #1c1c50;
    border: 2px solid #1c1c50;
    transition: 0.5s ease;
    cursor: pointer;
}
#top-cards button:hover{
    background-color: #1c1c50;
    color: white;
}
/* top cards */

/* banner */
.banner{
    width: 100%;
    height: 50vh;
    margin-top: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./image/banner.jpg);
}
.banner .content{
    text-align: center;
    padding-top: 100px;
}
.banner .content h1{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
.banner .content p{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
#bannerbtn button{
    width: 150px;
    height: 38px;
    background: transparent;
    color: white;
    border: 2px solid white;
    transition: 0.5s ease;
    cursor: pointer;
}
#bannerbtn button:hover{
    background-color: #1c1c50;
    border: none;
}
/* banner */
/* banner2 */
.banner2{
    width: 100%;
    height: 50vh;
    margin-top: 50px;
    background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)), url(./image/banner2.jpg);
}
.banner2 .content2{
    text-align: center;
    padding-top: 100px;
}
.banner2 .content2 h1{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
.banner2 .content2 p{
    color: white;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
}
#bannerbtn2 button{
    width: 150px;
    height: 38px;
    background: transparent;
    color: white;
    border: 2px solid white;
    transition: 0.5s ease;
    cursor: pointer;
}
#bannerbtn2 button:hover{
    background-color: #1c1c50;
    border: none;
}
/* banner2 */

/* product cards */
#product-cards{
    font-family: 'Roboto Slab', serif;
    margin-top: 100px;
}
#product-cards .card{
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}
#product-cards h1{
    margin-top: 30px;
    color: #1c1c50;
    text-shadow: 1px 1px 1px black;
}
#product-cards h3{
    letter-spacing: 3px;
    color: #1c1c50;
    text-shadow: 0px 1px 1px black;
    font-weight: bold;
}
#product-cards h5 span{
    float: right;
    color: #1c1c50;
    cursor: pointer;
}
.checked{
    color: rgb(255, 187, 0);
}
#viewmorebtn{
    display: flex;
    justify-content: center;
    margin: auto;
    text-decoration: none;
    margin-top: 30px;
    width: 200px;
    height: 32px;
    color: #1c1c50;
    letter-spacing: 5px;
    font-weight: bold;
    background: transparent;
    border: 2px solid #1c1c50;
    transition: 0.5s ease;
}
#viewmorebtn:hover{
    background-color: #1c1c50;
    color: white;
}
/* product cards */






/* offer */
#offer{
    margin-top: 50px;
}
#offer i{
    font-size: 60px;
    color: #1c1c50;
}
/* offer */

/* footer */
#footer{
    padding: 0 0 30px 0;
    color: #d0d0d0;
    font-size: 14px;
    background: #1c1c50;
    font-family: 'Roboto Slab', serif;
}
#footer .footer-top{
    padding: 60px 0 30px;
    background: #1c1c50;
    color: white;
}
#footer .footer-top .footer-contact h3{
    color: white;
    text-shadow: 1px 1px 1px black;
}
#footer .footer-top .footer-contact h4{
    font-size: 22px;
    margin:  0 0 300px 0;
    padding: 2px 0 2px 0;
    line-height: 1;
    font-weight: 700;
}
#footer .footer-top .footer-contact p{
    font-size: 14px;
    margin: 0;
    color: white;
    line-height: 1;
    font-weight: 700;
}
#footer .footer-top h4{
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
}
#footer .footer-top .footer-links{
    margin-bottom: 30px;
}
#footer .footer-top .footer-links ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#footer .footer-top .footer-links ul li{
    padding-right: 10px 0;
    display: flex;
    align-items: center;
}
#footer .footer-top .footer-links ul li:first-child{
    padding: 0;
}
#footer .footer-top .footer-links ul li a{
    color: white;
    line-height: 2;
}
#footer .footer-top .socail-links a{
    font-size: 18px;
    display: inline-block;
    color: white;
    line-height: 1;
    padding-right: 4px;
    border-radius: 50px;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.5s ease;
}
#footer .copyright{
    text-align: center;
    float: left; 
}
#footer .credits{
    float: right;
    text-align: center;
}
/* footer */
html{
    scroll-behavior: smooth;
}
.arrow{
    position: fixed;
    background-color: #1c1c50;
    border-radius: 50px;
    height: 50px;
    bottom: 40px;
    right: 50px;
    text-decoration: none;
    align-items: center;
    line-height: 50px;
}

/* login */
.login{
    width: 50%;
    margin: 20px;
    font-family: 'Roboto Slab', serif;
}
#side1{
    background-color: #1c1c50;
    height: 76vh;
    border-radius: 5px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}
#side1 h3{
    color: white;
    font-weight: bold;
    text-shadow: 1px 1px 1px black;
    margin-top: 200px;
    align-items: center;
    text-align: center;
}
#side1 p{
    color: white;    
    font-weight: bold;
    align-items: center;
    text-align: center;
}
#btn{
    align-items: center;
    text-align: center;
    border: 2px solid white;
    border-radius: 10px;
}
#btn a{
    text-decoration: none;
    color: white;
}
#side2{
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
    align-items: center;
    text-align: center;
}
#side2 h3{
    margin-top: 50px;
    color: #1c1c50;
    font-weight: bold;
}
#side2 .inp{
    margin-top: 32px;
}
#side2 input{
    width: 500px;
    margin-top: 20px;
    height: 36px;
    align-items: center;
}
#side2 p{
    margin-top: 20px;
    cursor: pointer;
}
#side2 .icons i{
    margin-left: 10px;
    cursor: pointer;
}
#login{
    margin-top: 10px;
}
#login button{
    width: 200px;
    height: 32px;
    color: white;
    background-color: #1c1c50;
    border: none;
    font-weight: bold;
}
@media screen and (max-width:992px){
    #side2 input{
        width: 300px;
    }
}
@media screen and (max-width:330x){
    #side2 input{
        width: 200px;
    }
}
/* login */

/* about */
#about{
    margin-top: 50px;
}
#about h1{
    text-align: center;    
    font-weight: bold;
    color: #1c1c50;
}
/* about */

/* contact */
#contact{
    margin-top: 50px;
}
#contact h1{
    color: #1c1c50;
    text-shadow: 0px 0px 1px black;
}
#contact .card{
    height: 80px;
    margin-top: 20px;
    box-shadow: rgba(100,100,111,0.2) 0px 7px 29px 0px;
}
#contact .card i{
    margin-top: 10px;
    margin-left: 10px;
    font-size: 15px;
    color: #1c1c50;
    font-weight: bold;
    letter-spacing: 3px;
}
#contact .card h6{
    margin-left: 10px;
    margin-top: 10px;
    letter-spacing: 3px;
    font-weight: bold;
    color: #1c1c50;
}#messagebtn button{
    margin-top: 30px;
    width: 200px;
    height: 33px;
    background: transparent;
    border: 2px solid #1c1c50;
    color: #1c1c50;
    font-weight: bold;
    letter-spacing: 3px;
    transition: 0.5s ease;
}
#messagebtn button:hover{
    background-color: #1c1c50;
    color: white;
}
/* contact */